nav {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: gray;
}

.left {
  display: flex;
  align-items: center;
}

.right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right ul li {
  padding-right: 5px; 
}

.right li {
  display: inline-block;
  margin-right: 20px;
}

.right a {
  text-decoration: none;
  color: black !important;
  font-size: 15px;
  font-weight: bold;
  margin-left: 0px !important;
}

.logo {
  width: 100px;
  height: 60px;
  margin-right: 10px;
  border-radius: 1rem;
}

.company-name {
  margin: 0;
  color: black !important;
  font-size: 20px;
}

.input-section {
  margin-top: 0 !important;
  background-color: white;
  opacity: 0.8;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-field {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.find-car-btn {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 12px 24px !important;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.car-image {
margin-top: 30px;
max-width: 50%;
max-height: 50%;
opacity: 0.8;
}
